* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-weight: normal;
  text-align: center;
  text-decoration: none;
}

html {
  color: rgb(51, 51, 51);
  font-family: 'Lora', serif;
  font-size: 16px;
}

html,
body,
div,
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div {
  width: 100%;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.15em;
}

p {
  text-align: justify;
}

strong {
  font-weight: bold;
}

a, a:visited {
  color: rgb(74, 84, 88);
  transition: color 0.25s;
}

a:hover {
  color: #80805a;
  transition: color 0.15s;
}


.stacked-container-wrapper {
  position: relative;
}

.stacked-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.horizontal-separator {
  width: 100%;
  min-height: 1px;
  background-color: rgba(0, 0, 0, 0.25);
}


html, body {
  width: 100%;
}

html, body, #content {
  min-height: 100vh;
}

body {
  background:
    linear-gradient(rgba(166,197,228,0.8) 10%, rgba(212,231,246, 0.8) 40%, rgba(76,99,56, 0.8)),
    url('../img/background.jpg');
}


#content {
  max-width: 700px;
  background-color: rgba(245, 222, 179, 0.65);
}


#header {

}

#header img {
  width: 100%;
}

#header .stacked-container {
  justify-content: flex-end;
}

#header .title {
  padding: 2px 15px;
  border-radius: 5px;

  color: #fbfbbc;
  background-color: rgba(0, 0, 0, 0.35);

  font-size: 1.5em;
  font-family: 'Bad Script', cursive;
}

#header nav {
  padding-top: 7px;
  padding-bottom: 9px;

  flex-direction: row;
  font-family: 'Playfair Display', serif;
}

@media only screen and (max-width: 400px) {
  #header nav {
    flex-direction: column;
  }
}

#header nav .tab {
  margin: 0 7px;
  padding-bottom: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

#header nav .active.tab {
  border-bottom: 1px solid rgba(218, 105, 0, 0.329);
}

#header + .horizontal-separator {
  width: 50%;
}


#main {
  flex: 1;
  justify-content: flex-start;
  padding: 15px 70px;
  font-size: 0.95em;
}

@media only screen and (max-width: 500px) {
  #main {
    padding: 15px 30px;
  }
}

#main + .horizontal-separator {
  width: 80%;
}


#footer {
  padding: 10px 70px;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.75em;
}

@media only screen and (max-width: 550px) {
  #footer {
    flex-direction: column-reverse;
    justify-content: space-around;
    padding: 10px 0;
  }

  #footer > div:not(:first-child) {
    padding-bottom: 20px;
  }
}

#footer .the-patriarch {
  flex: 0.25;
}

#footer .info {
  flex: 0.5;
  margin-right: 10px;
}

#footer .info p {
  text-align: unset;
}

#footer .schedule {
  flex: 0.25;
}

#footer .schedule p {
  text-align: left;
}

@media only screen and (min-width: 551px) {
  #footer .schedule {
    align-items: flex-start;
  }
}

.main-title {
  padding: 5px;
  margin-bottom: 15px;

  font-size: 1.3em;
  font-style: italic;

  border-bottom: 1px solid #7eb3d679;
}


.text {
  display: block;
  text-align: justify;
}

.text p:not(:last-child) {
  margin-bottom: 8px;
}


.articles .horizontal-separator {
  width: 20%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.article .header {
  margin-bottom: 15px;
  align-items: center;
}

.article .title {
  margin-bottom: 5px;
}

.article .excerpt {
  position: relative;
  max-height: 600px;
  overflow: hidden;
  justify-content: space-between;
}

.article .more {
  padding-top: 5px;
  text-align: center;
}

.image {
  display: inline-block;
}

.image.no-link .main {
  cursor: zoom-in;
}

.image .zoom {
  display: none;
  position: relative;
  align-self: right;
  width: 100%;
  outline: 0;
}

.image:hover .zoom {
  display: block;
}

.image .zoom img {
  position: absolute;
  right: 1.6px;
  bottom: 1.6px;
  width: 20px;
  padding: 1px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.35);
}

.image .main img {
  width: 100%;
}

.image .popup,
.image .popup .back {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.image .popup {
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: rgba(100, 100, 100, 0.5);
}

.image .popup img {
  display: block;
}

.image .popup .back {
  z-index: 2;
  cursor: zoom-out;
}

.image .popup .full {
  position: relative;
  z-index: 3;
}

.image .popup .full .link {
  cursor: zoom-in;
}

.image .popup .full img {
  max-width: 99vw;
  max-height: 100vh;
}

.image .popup .close {
  position: absolute;
  top: 0;
  right: 0;

  padding: 7px;
  background-color: rgba(255, 255, 255, 0.35);
  transition: background-color ease-in-out 0.1s;
  border-radius: 5px;

  cursor: pointer;
}

.image .popup .close:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.image .popup .close img {
  width: 15px;
}

.image .popup:target {
  display: flex;
}

.image:not(.left):not(.right) {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.image.right,
.image.left {
  max-width: 37%;
  max-height: 70vh;

  padding: 15px;
  padding-bottom: 0;
}

.image.right {
  float: right;
  padding-right: 0;
}

.image.left {
  float: left;
  padding-left: 0;
}
