<!doctype html>
<html>

<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
  <link rel='stylesheet' href='{{ url_for_static("css/base.css") }}'>
  <link href="https://fonts.googleapis.com/css?family=Bad+Script|Lora|Playfair+Display" rel="stylesheet">
  {% block css %}{% endblock %}
  <title>{% block title %}{% endblock %}Црква Свете Тројице у Земуну</title>
</head>

<body>
  <div id='content'>
    <div id='header'>
      <a href='{{ url_for("index") }}'>
        <div class='stacked-container-wrapper'>
          <img src='{{ url_for_static("img/banner.jpg") }}'>
          <div class='stacked-container'>
            <p class='title'>Црква Свете Тројице у Земуну</p>
          </div>
        </div>
      </a>

      <nav>
        {% for view, label in tabs.items() %}
          {% if tab_view == view %}
            <span class='active tab'>{{ label }}</span>
          {% else %}
            <a href='{{ url_for(view) }}' class='tab'>{{ label }}</a>
          {% endif %}
        {% endfor %}
      </nav>
    </div>

    <div class='horizontal-separator'></div>

    <div id='main'>
      {% block main %}{% endblock %}
    </div>

    <div class='horizontal-separator'></div>

    <div id='footer'>
        <div class='the-patriarch'>
          <a href='http://spc.rs/sr/njegova-svetost-patrijarh-srpski-irinej' target='_'>
            <img src='{{ url_for_static("img/the-patriarch.jpg") }}'>
          </a>
        </div>

        <div class='info'>
          <a href='http://spc.rs/' target='_'><img src='{{ url_for_static("img/spc-crest.png") }}'></a>
          <p>Српска Православна Црква</p>
          <p>Архиепископија београдско‑карловачка</p>
          <p>Црква Свете Тројице у Земуну</p>
          <p>Цара Душана 83, <a href='tel:+381112100301'>011/210‑0301</a></p>
        </div>

        <div class='schedule'>
          <p><strong>Богослужење ✝</strong></p>
          <p>Јутрење: 08.00</p>
          <p>Вечерње: 15.00</p>
          <p>Св. Литургија:</p>
          <p>суботом - 08.00</p>
          <p>недељом и празницима - 09.00</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
