{% set tab_view = 'history' %}
{% extends 'base.html' %}
{% block title %}Историјат – {% endblock %}
{% block main %}
  {% for _ in range(20) %}
    <p>Ја са својом штулом нисам могао мислити на коња, ни на рат, те сам морао, хтео не хтео, навикавати колико сам могао, на седење код куће. Да нисам имао штулу, био бих, можда, погинуо од Турака, као многи моји вршњаци. А моја штула ме је натерала да тражим мира, да мирно читам књиге, да мирно записујем на хартији оно што сам чуо и видео оком.</p>
  {% endfor %}
{% endblock %}
