{% set tab_view = 'parishes' %}
{% extends 'base.html' %}
{% block title %}Парохије – {% endblock %}
{% block css %}
<link rel='stylesheet' href='{{ url_for_static("css/parish.css") }}'/>
{% endblock %}
{% block main %}
<div class='parish'>
  <div class='header'>
    <h1>I парохија</h1>
    <h2>Свештеник Мирко Ранисављевић</h2>
  </div>
  <p>Саве Бурић 2-14, 1-5</p>
  <p>Драгана Ракића 1-53, 2-40</p>
  <p>Босанска 31-95, 22-96</p>
  <p>Тршћанска 1-57, 2-78</p>
  <p>Прегревица од Далматинске до краја 71-213, 94-194</p>
  <p>Ковача Петровића (Каштеланска) 2-16, 1-9</p>
  <p>Бранка Пешића (Далматинска) 2-64, 1-69</p>
  <p>Десна обала Дунава 1-21</p>
  <p>Ужичка 2-10, 1-5</p>
  <p>Рада кончара парна 2-96</p>
  <p>Горњоградска непарна 13-67</p>
  <p>Угриновачка од Горњоградске до Рада Кончара 93-145 и од Далматинске до Филипа Вишњића 108-132</p>
  <p>Шилерова 18-100, 11-95</p>
  <p>Лазе Јовановића Порције 1-45, 2-20</p>
  <p>Цара Душана од Далматинске до краја 111-197, 134-266</p>
  <p>Др. Мушицког 2-4, 1-9</p>
</div>

<div class='parish'>
  <div class='header'>
    <h1>II парохија</h1>
    <h2>Протојереј Перо М. Василић</h2>
  </div>
  <p>Првомајска 6-56, 29-37</p>
  <p>Новоградска парна страна 2-42</p>
  <p>Угриновачка од Новоградске 60-108 до Горњоградске и 63-91 до Далматинске</p>
  <p>Добановачка од Новоградске до Далматинске 36-84, 53-101</p>
  <p>Горњоградска 1-11, 2-46</p>
  <p>Охридска непарна 1-7</p>
  <p>Кордунашка 2-28, 1-41</p>
  <p>Црногорска 2-28, 1-23</p>
  <p>Романијска 2-40</p>
  <p>Пионирска 2-68, 1-43</p>
  <p>Гарибалдијева 6-40, 1-37</p>
  <p>Апатинска 2-12, 1-15</p>
  <p>Добровољачка 2-62, 1-57</p>
  <p>Славонска 1-37, 2-40</p>
  <p>Светотројична 1-29, 1-38</p>
  <p>Дунавска 2-14, 1-23</p>
  <p>Прегревица од 2-94 и од 1-73 (Далматинска)</p>
  <p>Цара Душана од 60-120 и од 47-113 (Далматинска)</p>
  <p>Миће Радаковића 1-19, 2-14</p>
</div>

<div class='parish'>
  <div class='header'>
    <h1>III парохија</h1>
    <h2>Свештеник Лазар Ж. Манигода</h2>
  </div>
  <p>Бачка непарна од 7-47</p>
  <p>Загорска парна 8-50</p>
  <p>Личка 2-6</p>
  <p>Топличка 1-7</p>
  <p>Бањичка 1-41, 2-38</p>
  <p>Задругарска 1-36</p>
  <p>Банијска 3-47, 2-54</p>
  <p>Првомајска 82-118, 71-123</p>
  <p>Гетеова непарна 1-57</p>
  <p>Атанасија Пуље 1-57, 2-40</p>
  <p>Шевина 1-53, 2-62</p>
  <p>Ђорђа Чутуковића 1-51, 2-60</p>
  <p>Крајишка 1-35, 2-28</p>
  <p>Херцеговачка 1-31, 2-76</p>
</div>

<div class='parish'>
  <div class='header'>
    <h1>IV парохија</h1>
    <h2>Свештеник Гојко Ракас</h2>
  </div>
  <p>Филипа Вишнића 2-30, 31-47</p>
  <p>Аласка 12-44, 7-45</p>
  <p>Рада Кончара 1-97</p>
  <p>Сремских Бораца 65-83, 2-6</p>
  <p>Сремска 1-43, 2-32</p>
  <p>Банијска 83-49, 96-56</p>
  <p>Банатска 2-76, 1-81</p>
  <p>Барањска 2-36</p>
  <p>Сомборска 1-13</p>
  <p>Ратарски Пут 36-51</p>
  <p>Угриновачка 134-196, 147-225</p>
  <p>Нишка 2-21, 1-17</p>
  <p>Шумадијска 2-18</p>
  <p>Скопљанска 2-40, 1-23</p>
  <p>Руска 1-17, 2-44</p>
  <p>Војвођанска 1-15, 1-16</p>
  <p>Вршачка 2-14</p>
  <p>Призренска 1-35, 2-54</p>
  <p>Албанска 1-9</p>
  <p>Карловачка 2-44, 1-43</p>
  <p>Мостарска 1-5</p>
  <p>Сарајевска 1-15</p>
  <p>Шајкашка 1-27</p>
  <p>Сењска 2-12, 1-11</p>
  <p>Бачка (куће) 1-74</p>
  <p>Бачка иловик 1-64</p>
  <p>Пазовачки Пут 2-14, 1-17</p>
  <p>М. Егића 1-5</p>
  <p>Војни Пут 1. 1-386</p>
  <p>Гетеова 2-62</p>
  <p>Славише Вајнера 1-27</p>
  <p>Крањска 1-15</p>
  <p>Саве Михић 2-8</p>
  <p>Филипа Кљајића 1-13, 2-16</p>
  <p>Босутска 1-9</p>
  <p>Бранка Плешаћа 1-33, 2-20</p>
  <p>Дринска 1-7, 2-18</p>
  <p>Крајишка 37-59, 30-34</p>
  <p>Церска 1-7, 2-8</p>
  <p>Партизанска 2-20, 1-23</p>
  <p>Гаврила Принципа 1-11, 2-12</p>
  <p>Игманска 1-9, 2-18</p>
</div>

<div class='parish'>
  <div class='header'>
    <h1>V парохија</h1>
    <h2>Протојереј Радмило Гардовић</h2>
  </div>
  <p>Првомајска 2 и 4</p>
  <p>Новоградска 46-106</p>
  <p>Гарибалдијева 2 и 4</p>
  <p>Марије Бурсаћ 2-40, 1-35</p>
  <p>Винарска 2-26, 1-25</p>
  <p>Мозерова 2-50, 1-39</p>
  <p>Франца Прешерна (Др. Миливоја Бабића) 2-20, 1-19</p>
  <p>Милана Узелца 2-16, 1-23</p>
  <p>Гаудијева 1-7, 2-8</p>
  <p>Лазара Саватића 2-16, 1-5</p>
  <p>Сестара Миловановић 2-6, 1-7</p>
  <p>Браће Абафи 2-10</p>
  <p>Десе Лежајић 1-2</p>
  <p>Милана Степановића Матроза 1-9</p>
  <p>Првомајска од 1-27, 59-71</p>
  <p>Златиборска парна 2-50</p>
  <p>Железничка 2-30, 1-85</p>
  <p>Колонија/Б насеље бараке</p>
  <p>Јозе Шћурле куће без нумерације</p>
  <p>Живка петровића 1-59, 2-60</p>
  <p>Цвијићева до аутопута 1-115</p>
  <p>Владимира Гортана (Карла Сопрона)</p>
  <p>Корушка</p>
  <p>Грмечка</p>
</div>
{% endblock %}
